Workspaces/GeneralGamePlaying/SWIPrologServiceTest/Service References/ServiceReference2/SWIPrologService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SWIPrologService2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISWIPrologService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:811/Design_Time_Addresses/SWIPrologService2?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:811/Design_Time_Addresses/SWIPrologService2?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:811/Design_Time_Addresses/SWIPrologService2?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SWIPrologServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISWIPrologService_Assert_InputMessage">
    <wsdl:part name="parameters" element="tns:Assert" />
  </wsdl:message>
  <wsdl:message name="ISWIPrologService_Assert_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssertResponse" />
  </wsdl:message>
  <wsdl:message name="ISWIPrologService_ExecuteClause_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteClause" />
  </wsdl:message>
  <wsdl:message name="ISWIPrologService_ExecuteClause_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteClauseResponse" />
  </wsdl:message>
  <wsdl:message name="ISWIPrologService_GetSolutionVariables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSolutionVariables" />
  </wsdl:message>
  <wsdl:message name="ISWIPrologService_GetSolutionVariables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSolutionVariablesResponse" />
  </wsdl:message>
  <wsdl:portType name="ISWIPrologService">
    <wsdl:operation name="Assert">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWIPrologService/Assert" message="tns:ISWIPrologService_Assert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWIPrologService/AssertResponse" message="tns:ISWIPrologService_Assert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteClause">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWIPrologService/ExecuteClause" message="tns:ISWIPrologService_ExecuteClause_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWIPrologService/ExecuteClauseResponse" message="tns:ISWIPrologService_ExecuteClause_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSolutionVariables">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWIPrologService/GetSolutionVariables" message="tns:ISWIPrologService_GetSolutionVariables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWIPrologService/GetSolutionVariablesResponse" message="tns:ISWIPrologService_GetSolutionVariables_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISWIPrologService" type="tns:ISWIPrologService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISWIPrologService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Assert">
      <soap12:operation soapAction="http://tempuri.org/ISWIPrologService/Assert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteClause">
      <soap12:operation soapAction="http://tempuri.org/ISWIPrologService/ExecuteClause" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSolutionVariables">
      <soap12:operation soapAction="http://tempuri.org/ISWIPrologService/GetSolutionVariables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWIPrologService2">
    <wsdl:port name="NetTcpBinding_ISWIPrologService" binding="tns:NetTcpBinding_ISWIPrologService">
      <soap12:address location="net.tcp://localhost:810/Design_Time_Addresses/SWIPrologService2/SWIPrologService1" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:810/Design_Time_Addresses/SWIPrologService2/SWIPrologService1</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>