Workspaces/GeneralGamePlaying/SWIPrologServiceTest/Service References/ServiceReference2/SWIPrologService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:811/Design_Time_Addresses/SWIPrologService2?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SWIPrologServiceLibrary" />
  <xs:element name="Assert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clause" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteClause">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clause" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteClauseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteClauseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolutionVariables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolutionVariablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SWIPrologServiceLibrary" minOccurs="0" name="GetSolutionVariablesResult" nillable="true" type="q1:ArrayOfArrayOfSolutionVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>